<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <script src="/static/jquery-3.3.1.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>

    <style>
        .form {
            margin-top: 200px;
        }

        body {
            background-color: #f0f0f0;
        }

        .panel {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">


    <div class="row">
        <div class="form">
            <div class="col-md-3 col-md-offset-4">

                <div>
                    <a href=""></a>
                    <h3 class="text-center">Sign in to p5* studio </h3>
                    <span>&nbsp;</span>
                </div>
                <div class="panel-default panel">
                    <div class="panel-body">
                        <form action="">
                            {% for item in form %}
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            {{ item.label }}
                                        </label>
                                        <div class="col-md-9">
                                            {{ item }}
                                            <span>{{item.errors.0}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3">
                                     <a class="btn btn-default pull-right" id="submit">登陆</a>
                                    <a href="/index" class="btn btn-default pull-right">返回</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(function () {
            $("#submit").click(function () {
                let name = $("#name").val();
                let pwd = $("#pwd").val();
                $.ajax({
                    url:'login',
                    type:'POST',
                    data:{
                        name:name,
                        pwd:pwd,
                    },
                    success:function (ret) {
                        if(ret.code === 200){
                            location.assign('/index')
                        }
                    }
                })
            })


        })
    </script>


</body>
</html>